<div class="left-container">
    <div class="left-container-nav-bar">
        <div class="search-icon"><fa-icon class="fa-xs" [icon]="faMagnifyingGlass"></fa-icon></div>
        <div class="search-input"><input type="text" placeholder="Search for places..."></div>
        <div class="location-icon"><fa-icon class="fa-xs" [icon]="faLocationDot"></fa-icon></div>
    </div>
    <div class="left-container-data-box">
        <div class="left-container-temp-data">
            <div class="left-container-temp-img"><img src="https://cdn-icons-png.flaticon.com/128/3093/3093390.png" alt=""></div>
            <div class="left-container-temp-value">12<sup>°C</sup></div>
            <div class="left-container-day-time">Monday, <span>16:00</span></div>
        </div>

        <div class="dividing-line"></div>
        <div class="left-container-other-details">
            <div class="left-container-temp-summary">
                <div class="left-container-temp-summary-phare-img"><fa-icon style="color: rgb(55, 0, 253);" [icon]="faCloud"></fa-icon></div>
                <div class="left-container-temp-summary-value">Mostly Cloudy</div>
            </div>
            <div class="left-container-rain-stats">
                <div class="left-container-rain-stats-phare-img"><fa-icon style="color: rgb(55, 0, 253);" [icon]="faCloudRain"></fa-icon></div>
                <div class="left-container-rain-stats-value">Rain - 30%</div>
            </div>

            <div class="left-container-location-details">
                <div class="left-container-location-img"><img src="https://avatars.mds.yandex.net/get-mpic/3918703/2a0000018c2736d92e6438fbf504c1514f9b/orig" alt=""></div>
                <div class="left-container-location-name">New York, NY, USA</div>
            </div>
        </div>
    </div>
</div>
