.left-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.left-container-nav-bar {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-icon {
    flex: 2;
    text-align: right;
    margin-right: 5px;
}

.search-input {
    flex: 4;
}

.search-input input {
    border: none;
    padding: 8px;
    font-size: 11px;
    color: black;
}

.location-icon {
    flex: 2;
    text-align: center;
    margin-right: 10px;
}

.location-icon fa-icon {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: #f6f6f8;
    border-radius: 500px;
}






.left-container-data-box {
    flex: 12;
    display: flex;
    margin-right: 30px;
    margin-left: 30px;
    flex-direction: column;
}

.left-container-temp-data {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.left-container-temp-img {
    flex: 2;
}

.left-container-temp-img img {
    width: 160px;
    height: 160px;
}

.left-container-temp-value {
    flex: 1;
    font-size: 62px;
    font-weight: normal;
}

.left-container-temp-value sup {
    position: relative;
    top: 3px;
    font-size: 36px;
}

.left-container-day-time {
    flex: 1;
    font-weight: 500;
    color: black;
    font-size: 15px;
}


.left-container-other-details {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.left-container-temp-summary {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.left-container-rain-stats {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.left-container-location-details {
    flex: 4;
    text-align: center;
}

.left-container-location-img img{
    width: 220px;
    height: 120px;
    border-radius: 20px;
}

.left-container-location-name {
    margin-top: -70px;
    font-size: medium;
    font-weight: bold;
    color: white;
}

.dividing-line {
    height: 1px;
    width: 100%;
    background-color: #c6c6c6;
    margin-top: 20px;
    margin-bottom: 20px;
}

.left-container-temp-summary-phare-img {
    margin-right: 8px;
}

.left-container-rain-stats-phare-img {
    margin-right: 8px;
}

.left-container-day-time span {
    color: #b7b7b7;
}